* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.border {
  border: 2px solid transparent;
}

.border:hover {
  border: 2px solid white;
}

.nav-logo {
  height: 50px;
  width: 100px;
}

.nav-amazon-logo {
  background-image: url(/amazon-clone/images/amazon_logo.png);
  background-size: cover;
  height: 50px;
  width: 100%;
}

.nav-address {
  display: flex;
  gap: 3px;
}

.nav-address i {
  margin-top: 12px;
}

.add-lines {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.add-deliver {
  color: #cccccc;
  font-weight: 400;
  font-size: 0.75rem;
}

.add-country {
  font-weight: 700;
  font-size: 0.875rem;
}

.nav-search {
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  width: 600px;
}

.nav-search:hover {
  border: 2px solid orange;
}

.search-select {
  width: 60px;
  background-color: #f3f3f3;
  text-align: center;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-button {
  width: 45px;
  background-color: #fcb603;
  font-size: 1.2rem;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #0f1111;
}

.search-input {
  width: 100%;
  border: none;
  font-size: 1rem;
  padding-left: 10px;
}

.nav-signin {
  display: flex;
  flex-direction: column;
}

.nav-returns {
  display: flex;
  flex-direction: column;
}

.span-line1 {
  font-size: 0.75rem;
  font-weight: 400;
}

.span-line2 {
  font-size: 0.875rem;
  font-weight: 700;
}

.nav-cart i {
  font-size: 1.5rem;
}
